
/* -------------------------------------------------------------------------- */
/*                                   GENERAL                                  */
/* -------------------------------------------------------------------------- */

body {
    font-family: sans-serif;
    background-color: grey;
}



/* -------------------------------------------------------------------------- */
/*                                  ETIQUETAS                                 */
/* -------------------------------------------------------------------------- */

h1 {
    color: rgb(0, 0, 255);
}

img {
    width: 50px;
}